.control-section-elearning-education h3.accordion-section-title {
    color: #e34b11 !important;
    border: 2px solid #e34b11 !important;
    border-left: none !important;
    border-right: none !important;

}
a.button.button-secondary.alignright{
    background: #5ba5af;
}
